<div class="footer-section">
  <footer class="inner-container">
    <div class="left-item"></div>
    <div class="right-item">
      <ul>
        <li><a href="https://wa.me/919142040934">Whats app</a></li>
      </ul>
    </div>
  </footer>
</div>

<style>
  .footer-section {
    background-color: bisque;
  }
  .inner-container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
  }
  .left-item {
    width: 30%;
  }
</style>
